/* BEGIN Thin */
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-thin-webfont.woff2") format("woff2"), url("./fonts/roboto-thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }
/* END Thin */
/* BEGIN Thin Italic */
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-thinitalic-webfont.woff2") format("woff2"), url("./fonts/roboto-thinitalic-webfont.woff") format("woff");
  font-weight: 100;
  font-style: italic; }
/* END Thin Italic */
/* BEGIN Light */
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-light-webfont.woff2") format("woff2"), url("./fonts/roboto-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-lightitalic-webfont.woff2") format("woff2"), url("./fonts/roboto-lightitalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"), url("./fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-regular-webfont.woff2") format("woff2"), url("./fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-italic-webfont.woff2") format("woff2"), url("./fonts/roboto-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-italic-webfont.woff2") format("woff2"), url("./fonts/roboto-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic; }
/* END Italic */
/* BEGIN Medium */
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-medium-webfont.woff2") format("woff2"), url("./fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
/* END Medium */
/* BEGIN Medium Italic */
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-mediumitalic-webfont.woff2") format("woff2"), url("./fonts/roboto-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic; }
/* END Medium Italic */
/* BEGIN Bold */
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-bold-webfont.woff2") format("woff2"), url("./fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-bold-webfont.woff2") format("woff2"), url("./fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-bolditalic-webfont.woff2") format("woff2"), url("./fonts/roboto-bolditalic-webfont.woff") format("woff");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-bolditalic-webfont.woff2") format("woff2"), url("./fonts/roboto-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }
/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-black-webfont.woff2") format("woff2"), url("./fonts/roboto-blackitalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }
/* END Black */
/* BEGIN Black Italic */
@font-face {
  font-family: Roboto;
  src: url("./fonts/roboto-blackitalic-webfont.woff2") format("woff2"), url("./fonts/roboto-blackitalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic; }
/* END Black Italic */

:root {
  --dark-color: #000000;
  --dark-accent: #130F40;
  --accent-color-1: #EA580C;
}

body {
  color:#0F172A;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #F8FAFC;
}

#content {
  min-height: 100vh;
  background-image: linear-gradient(315deg, var(--dark-accent), var(--dark-color) 74%);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}

.home h1 {
  margin: 0;
  font-size: clamp(2rem, 4rem, 5vw);
}

.nav {
  width: min-content;
  height: fit-content;
  position: absolute;
  left: 3rem;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  display: flex;
  justify-content: center;
  color:#F8FAFC;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem 1.5rem;
  gap: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  z-index: 2;
}

.nav > button {
  color:#F8FAFC;
  transition: all 0.1s ease-out;
  background: none;
  border: none;
  cursor: pointer;
}

nav > button:hover {
  transform: scale(1.1);
  text-shadow: 0 0 5px var(--accent-color-1);
}

.nav > .active {
  color: var(--accent-color-1);
}

.home {
  background-color: rgba(248, 250, 252, 0.9);
  width: 500px;
  border-radius: 16px;
  border: #0F172A solid 3px;
  padding: 1rem;
  text-align: center;
  flex: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-style: italic;
}

.home > :first-child {
  color: var(--accent-color-1);
}

.home div:last-child {
  font-size: clamp(1rem, 1.25rem, 2vw);
}

.menu {
  min-height: 100vh;
  width: 100%;
  border-radius: 16px;
  padding: 0;
  background-color: rgba(248, 250, 252, 0.9);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.menu h1 {
  border-top-right-radius: 8px;
  margin: 0;
  padding: 1rem 0;
  background-color: var(--dark-accent);
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 700;
  color: var(--accent-color-1);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(3.25rem, 4rem, 5vw) 1.5rem;
}

.menu img {
  width: clamp(200px, 400px, 25vw);
  border: 3px solid var(--accent-color-1);
  border-bottom-color: var(--dark-accent);
  border-left-color: var(--dark-accent);
  border-radius: 8px;
  height: auto;
}

.menu > 
.img-container {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}

.menu-container {
  display: grid;
  border-left: var(--dark-accent) 3px solid;
  grid-template-rows: auto 1fr;
  text-align: center;
}

.menu-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 1rem;
  gap: 1rem;
}

.menulist {
  border-bottom: var(--accent-color-1) 3px solid;
  height: 150px;
  display: grid;
  place-items: center;
  align-content: end;
  text-align: center;
  gap: 1rem;
  padding: 1.5rem;
}

.menulist > :first-child{
  font-weight: 500;
}

.menulist > :not(:first-child) {
  font-size: 0.75rem;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgba(248, 250, 252, 0.9);
  width: 100%;
  border-radius: 16px;
}

.contact > :first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #0F172A;
  background-image: url(./img/nasa-rTZW4f02zY8-unsplash-fhd.jpg);
  background-size: auto 100%;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
}

.contact > div > h1 {
  font-size: clamp(1.25rem, 2rem, 5vw);
  margin: 0;
  color: #EA580C;
  text-align: center;
}

.info {
  display: grid;
  place-content: center;
  margin: 0.5rem;
  color: #0F172A;
  font-size: clamp(0.75rem, 1rem, 2vw);
  font-weight: 500;
  text-align: center;
}

.contact > div:last-child {
  place-self: center;
  border: #0F172A solid 3px;
  border-radius: 16px;
  padding: clamp(1.25rem, 2.5rem, 4vw);
}

.home,
.menu,
.contact {
  margin: clamp(0.75rem, 1.5rem, 3vw);
}

@media only screen and (max-width: 720px) {
  .menu {
    grid-template-columns: 1fr;
  }

  .menu h1 {
    border-top-right-radius: 0;
  }

  .contact {
    grid-template-columns: 1fr;
  }

  .contact > :first-child {
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    background-size: 100% auto;
  }

  #content > nav {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .menu-container {
    border-bottom-left-radius: 16px;
  }

  .menu-list {
    border-bottom-left-radius: 16px;
  }
}